# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Vite
dist/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
logs/
*.log

# Build
build/

# System files
Thumbs.db
